.row {
    max-width: 1280px;    
    display: flex;
}
.object-fit_fill { 
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 10px;
    padding: 10px;
}
#pills-home-tab:hover {
    margin: 5px;
    background-color: #28a745;
}

#pills-profile-tab:hover {
    margin: 5px;
    background-color: #28a745;
}

#pills-home-tab {
    margin: 5px;
}

#pills-profile-tab {
    margin: 5px;
}

.card {
    max-width: 500px;
    margin: 20px;
}

.col {
    display: flex;
    justify-content: center;
}

.fa-ellipsis-h {
    padding-right: 10px;
}